* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}

img {
  max-width: 100%;
}
.container-call-for-papers {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 3em 3em 0;
}

.main-call-for-papers {
  margin: 0 3em 3em;
}

.main-call-for-papers > p {
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  line-height: 140%;
  margin-bottom: 1em;
}
.main-call-for-papers > p:nth-child(2) {
  font-weight: 700;
  background: none;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
}

.table p {
  padding: 0.5em 0 0.5em 0.5em;
}

.column1 > p:nth-child(odd) {
  background: #eee;
}

.column2 > p:nth-child(odd) {
  background: #eee;
}
.tracks{
  color: #4c4c4c;
}
@media screen and (max-width: 768px) {
  .container-call-for-papers{
    display: block;
    margin-bottom: 2em;
  }
  .table {
    display: block;
}}