* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

img {
  max-width: 100%;
}
/*container for heading & button */
.container-call-for-papers {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 3em 3em 0;
}
/*container for content*/
.main-call-for-papers {
  margin: 0 3em 3em;
}

.main-call-for-papers > p {
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  line-height: 140%;
  margin-bottom: 1em;
  word-break: break-word;
  word-wrap: break-word;
  text-align: justify;
}

.main-call-for-papers > p:nth-child(2) {
  /* highlighted 2nd para*/
  font-weight: 700;
  background: none;
}
.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  margin: 0 3em;
  grid-gap: 1em;
}
.table p {
  padding: 0.8em 0 0.8em 0.8em;
}
.scroll {
  overflow: scroll;
  height: 58em;
}
.scroll > p:nth-child(odd) {
  background: #eee;
}
.tracks {
  font-size: 1.4rem;
  color: white;
  background-color: #2d2d2d;
  border-radius: 2px;
  padding: 1em;
}
@media screen and (max-width: 768px) {
  .scroll {
    overflow: visible;
    height: auto;
  }
  .container-call-for-papers {
    display: block;
    margin-bottom: 2em;
  }
  .table {
    display: block;
    margin: 0;
  }
  .container-call-for-papers {
    margin: 2.1em 2.1em 0;
  }
  .main-call-for-papers {
    margin: 0 2.1em 2.1em;
  }
  .btn2 {
    margin-bottom: 2.1em;
  }
}
