* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-committee {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1em;
  margin: 3em;
}
.main-committee ul {
  font-family: Lato, sans-serif;
  font-size: 1.8rem;
  list-style: none;
  line-height: 140%;
  color: #00004f;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.main-committee li {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.row-2 ul {
  list-style: inherit;
  font-size: 1.8rem;
}
.row-2 li {
  font-weight: bold;
  margin-left: 1.2rem;
}
.committee-members {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2em;
}
a {
  text-decoration: none;
}
.ai-google-scholar-square {
  height: 16px;
}
.main-committee ul p {
  line-height: 150%;
  font-size: 0.8rem;
  color: #7a7a7a;
}
@media screen and (max-width: 768px) {
  .committee-members{
    display: block;
  }
}