* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

div#header-container {
  padding-top: 0.5vmax;
  padding-bottom: 0.5vmax;
  display: flex;
  letter-spacing: 0.05vmax;
  line-height: 140%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgb(45, 45, 45);
  color: #c3c3c3;
  font-family: Montserrat, sans-serif;
  font-size: 1vmax;
}
strong {
  font-size: 1.2vmax;
  color: #f1f1f1;
}
em {
  color: #f1f1f1;
}
div#header-container img.springer {
  position: absolute;
  z-index: 1;
  right: 3vmax;
  top: 5vmax;
  width: 7.8125vmax;
  height: auto;
}

div#header-container img.gbpiet-logo {
  position: absolute;
  z-index: 1;
  right: 12vmax;
  top: 7vh;
  width: 5.859375vmax;
  height: auto;
}

div#header-container img.smart-comm {
  position: absolute;
  z-index: 1;
  left: 3.8vmax;
  top: 11vh;
  height: auto;
  width: 17.7vmax;
}

nav {
  align-items: center;
  min-height: 3.5vmax;
  text-transform: uppercase;
  vertical-align: top;
  border-top: 0.3vmax solid #000036;
  box-shadow: 0 8px 6px -6px #999;
}
nav,
.btn a,
.btn2 a {
  background-color: rgb(0, 0, 79);
}
.nav-links,
nav,
.btn {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-links {
  width: 100vmax;
}
.nav-links a {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05vmax;
  font-size: 1vmax;
  width: 100%;
  font-weight: 500;
  color: #f6f6f6;
  transition: 0.3s ease;
}
.nav-links a,
.btn a,
.btn2 a {
  text-decoration: none;
}
.upper-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.container {
  margin: 3vmax;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.5vmax;
  color: rgb(0, 0, 79);
  margin-bottom: 1vmax;
}

.main p {
  font-family: Lato, sans-serif;
  font-size: 1.2vmax;
  line-height: 140%;
  margin-bottom: 1vmax;
}
.teqip {
  padding-top: 5px;
  width: 5vmax;
  height: auto;
  vertical-align: middle;
}

.main > ul {
  font-family: Lato, sans-serif;
  font-size: 1.2vmax;
  line-height: 140%;
  margin-bottom: 1vmax;
}
.main li {
  margin-bottom: 0.5vmax;
}
.link {
  position: relative;
}
.link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.15vmax;
  display: block;
  margin-top: 0.3vmax;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}
.link:hover:after {
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
.link:after,
.link:hover:after {
  background: #fff;
}
.btn a,
.btn2 a {
  padding: 1vmax 1.5vmax;
  font-family: "Montserrat", sans-serif;
  font-size: 1.03vmax;
  color: white;
  transition: all 0.3s ease;
}
.btn a:hover,
.btn2 a:hover {
  background-color: #00009c;
  transform: scale(1.03);
  box-shadow: 0 8px 6px -6px #999;
}
.small-heading {
  margin-top: 1vmax;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5vmax;
  color: rgb(0, 0, 79);
  margin-bottom: 1vmax;
}
.special-session a {
  font-family: "Lato", sans-serif;
  font-size: 1vmax;
  font-weight: 700;
  transition: all 0.3s ease;
}
.special-session a:hover {
  color: red;
}
.fa-file-pdf-o {
  color: red;
}
.academic-partners a > img {
  height: 8vmax;
  width: 100%;
}
.academic-partners a,
.special-session a {
  text-decoration: none;
  color: black;
}
.academic-partners p {
  font-family: "Lato", sans-serif;
  font-size: 1vmax;
  text-decoration: none;
  font-weight: 500;
}
.footer {
  box-shadow: 0 -8px 6px -6px #999;
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  background-color: #00004f;
  color: white;
  padding-bottom: 0.5vmax;
}
.footer-bottom {
  padding: 1vmax;
  background-color: #2d2d2d;
  font-family: "Montserrat", sans-serif;
  border-top: 0.3vmax solid #000036;
  text-align: center;
  color: white;
}
.about {
  margin: 1vmax 0 1vmax 1vmax;
  font-family: "Montserrat", sans-serif;
}
.footer-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}
.footer-links li {
  margin-top: 0.7vmax;
}
.footer-links a {
  text-decoration: none;
  color: #e9e9e9;
}
.footer-bottom p {
  color: #b4b4b4;
}
.footer-bottom p > a {
  text-decoration: none;
  color: #f1f1f1;
}
