* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  overflow-x: hidden;
  background-color: #f3eefa;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%239e94af' fill-opacity='0.11' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #6e6e6e;
}

/* header container */

div#header-container {
  font-size: 1.2rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  letter-spacing: 0.05em;
  line-height: 150%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #52162c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23711e3c' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23711e3c'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: white;
  font-family: Montserrat, sans-serif;
}
strong {
  font-size: 1.2rem;
  color: #f1f1f1;
}
em {
  line-height: 100%;
  font-size: 1rem;
  color: #f1f1f1;
}
/*
gbpiet logo
*/
div#header-container img.gbpiet-logo {
  position: absolute;
  z-index: 1;
  right: 12vw;
  top: 4em;
  width: 5em;
}
/*
smart com logo
*/
div#header-container img.smart-comm {
  position: absolute;
  z-index: 1;
  left: 1em;
  top: 3em;
  width: 9em;
  vertical-align: middle;
}
/*
ist logo
*/
div#header-container img.ist {
  position: absolute;
  z-index: 1;
  left: 11em;
  top: 4em;
  width: 5em;
  vertical-align: middle;
}
/*
Andhra University logo
*/
div#header-container img.amuc-logo {
  position: absolute;
  z-index: 1;
  right: 3vw;
  top: 4em;
  width: 6em;
}

/* teqip image */

.teqip {
  padding-top: 0.3em;
  width: 5em;
  height: auto;
  vertical-align: middle;
}

/*navigation bar*/

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  min-height: 3em;
  text-transform: uppercase;
  vertical-align: top;
  box-shadow: 0 8px 6px -6px #000000;
  background-color: #330c0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23431014' stroke-width='1.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23551419'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.nav-links a {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.12em;
  font-size: 0.75rem;
  width: 100%;
  color: #f6f6f6;
  transition: 0.3s ease;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffaa00;
  transition: 0.5s ease;
}
/* Underline on hover over nav-links */
.link {
  position: relative;
}
.link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.09em;
  display: block;
  margin-top: 0.3em;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}
.link:hover:after {
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
.link:after,
.link:hover:after {
  background-color: #efd092;
}
.nav-body {
  overflow: hidden; /*fixed background body when nav click*/
  width: 100%;
}
/*
toggle class when burger is clicked
*/
nav .nav-active {
  position: fixed;
  transform: translateX(0%);
  -webkit-box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
/*heading*/

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  color: #330c0f;
}
.small-heading {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  color: #330c0f;
  margin-bottom: 1em;
}

/*swiper container*/

.swiper-container {
  margin: auto;
  padding-bottom: 3em;
}
.swiper-wrapper {
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px; /* Center slide text vertically */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  height: 45vh;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

/*box shadow to swiper slide images*/

.swiper-slide > img {
  -webkit-box-shadow: 10px 10px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 32px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 32px -8px rgba(0, 0, 0, 0.75);
}

/*overlay text on swiper slide*/

.centered {
  left: 46vw;
  position: absolute;
  top: 60%;
  width: 100%;
  font-family: Ubuntu, sans-serif;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.main-banner {
  font-size: 6rem;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
}
.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 2em;

}
/*main container*/

.main {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 1em;
}
/* main paragraph */
.about-conference p,
.publication p {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 150%;
  word-break: break-word;
  word-wrap: break-word;
  text-align: justify;
}

.objectives ul {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 150%;
  word-break: break-word;
  word-wrap: break-word;
  text-align: justify;
}
.objectives li {
  margin-bottom: 0.5em;
}
/* swiper2 carousel */
.swiper2 {
  width: 66vw;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 0.75rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: white;
  padding: 14px 16px;
  background-color: inherit;

  font-family: Lato, sans-serif;
  margin: 0;
}

/*.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4f0f12;
}*/

.dropdown-content {
  margin-top: 0.2em;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*
publication section
*/

.long-images {
  justify-content:space-evenly;
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}
.long-images img {
  width: 15em;
}
.short-images {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.short-images img {
  width: 15em;
  height: 10em;
}
.img-box-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.submission-link {
  margin-top: 1em;
  margin-bottom: 1em;
}
/*side bar*/

.side-column {
  display: flex;
  flex-direction: column;
}
.important-dates-side-bar {
  margin: 2em 0;
  border: 2px solid black;
}
.notification-side-bar h2,
.important-dates-side-bar h2 {
  text-align: center;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  background-color: #330c0f;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
  0 2px 2px rgba(0,0,0,0.15),
  0 4px 4px rgba(0,0,0,0.15),
  0 8px 8px rgba(0,0,0,0.15);
  color: white;
}
.important-dates-side-bar ul{
  padding: 1em 2.1em;
}
.important-dates-side-bar li {
  list-style: none;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  line-height: 150%;
  margin-top: 0.5em;
}
.notification-side-bar{
  border: 2px solid black;
}
.notification-side-bar ul li {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  margin: 0.5em 0;
  padding: 1em;
}
.bold-letter {
  display: inline;
  font-weight: bold;
}
/*burger*/

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #330033;
  margin: 5px;
  transition: all 0.3s ease;
}

/*buttons*/

.btn a,
.btn2 a {
  background-color: #330c0f;
  border-radius: 2px;
  text-decoration: none;
  padding: 1em 1.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  transition: all 0.3s ease;
}
.btn a:hover,
.btn2 a:hover {
  background-color: #66131a;
  transform: scale(1.03);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}
.btn {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/*publication section*/

/*invited speakers card*/
.card {
  width: 20rem;
  display: grid;
  z-index: 999;
  background-color: #ebeef8;
  border-radius: 1em;
  margin: 1em 0.2em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}
.card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
.card-image img {
  width: 100%;
  height: 14rem;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.card-description {
  margin-bottom: 1em;
  height: 4em;
}
.card-description h3 {
  font-size: 0.9rem;
  margin-top: 0.5em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 0.5em;
}
.card-description p {
  color: #494949;
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  text-align: center;
}
/*
footer section
*/
.footer {
  box-shadow: 0 -8px 6px -6px #999;
}
.footer-bottom {
  padding: 1em;
  background-color: #330c0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23431014' stroke-width='1.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23551419'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  font-family: "Montserrat", sans-serif;
  border-top: 0.2em solid #3b0c0f;
  text-align: center;
  color: white;
}
.footer-bottom p {
  color: #b4b4b4;
  font-size: 0.8rem;
}
.footer-bottom p > a {
  text-decoration: none;
  color: #f1f1f1;
}

/*
media queries
*/
@media screen and (max-width: 768px) {
  .container{
    margin: 1em 1.5em;
  }
  .heading {
    font-size: 2rem;
  }
  .swiper1 {
    display: none;
  }
  .grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .invited-speakers {
    display: flex;
    flex-direction: column;
  }
  .long-images {
    flex-direction: column;
    justify-content:start;

  }
  .short-images {
    flex-direction: column;
  }
  .btn {
    margin-bottom:  2em;
  }
  .btn a{
    font-size: 0.8rem;
  }
  .invited-speakers{
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .heading {
    font-size: 1.5rem;
  }
  .btn a {
    font-size: 0.9rem;
  }
}
/*
nav-links animation in mobile view
*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*
burger animation
*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
