body {
  overflow-x: hidden;
}
html {
  font-size: 13px;
}
img.gbpiet-logo,
img.smart-comm {
  display: none;
}
nav {
  background-color: white;
  box-shadow: none;
  text-transform: lowercase;
}
.nav-links {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  background-color: #00004f;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.nav-links li {
  opacity: 0;
}
.nav-links a {
  letter-spacing: 0.1em;
}
.burger {
  display: block;
  padding-top: 0.5em;
  padding-left: 0.4em;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

