body {
  overflow-x: hidden;
}
html {
  font-size: 13px;
}
img.gbpiet-logo,
img.smart-comm {
  display: none;
}
nav {
  background-color: white;
  box-shadow: none;
  text-transform: lowercase;
}
.nav-links {
  position: absolute;
  right: 0;
  height: 100vh;
  top: 0;
  background-color: #00004f;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.burger {
  display: block;
  padding-top: 1em;
  padding-left: 0.3em;
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
