* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-paper-submission-guidelines {
  display: grid;
  margin: 3vw;
}
.main-paper-submission-guidelines > h2 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  color: rgb(0, 0, 79);
  margin-bottom: 1vw;
}
.main-paper-submission-guidelines > p {
  font-family: Lato, sans-serif;
  font-size: 1.2vw;
  line-height: 140%;
  margin-bottom: 1vw;
}
.main-paper-submission-guidelines > a {
  margin-bottom: 1vw;
}
.row-grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 1vw;
}

.main-paper-submission-guidelines > p:nth-child(2) {
  font-weight: 700;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1.17vw;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 1.17vw;
  background-color: white;
  height: auto;
  transition: max-height 0.2s ease-out;
}
.panel p {
  font-family: Lato, sans-serif;
  font-size: 1.1vw;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}
.panel ul{
  font-family: Lato,sans-serif;
  font-size: 1.1vw;
  line-height: 140%;
  list-style: none;
  margin-bottom: 0.5vw;
}
.submission-list ul{
  list-style: inherit;
  margin-top: 1vw;
}