.special-container{

    margin: 2em;
}
.special-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin:2em;
}
span {
    font-size: 1.8rem;
    font-family: Lato, sans-serif;
}
.special-session-heading{
font-size: 1.2rem
}
.special-session-para{
    text-align: justify;
    font-size: 1rem;
    font-family: Lato, sans-serif;
}
